html, body {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box {
    width: 600px;
    height: 300px;
    border: crimson solid 30px;
    border-radius: 50px;
}

.top {
    
}